#social {
    width: 65%;
    margin-bottom: 10%;
}
stle {
    display: block; margin: auto;
}
#soc {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
#loc {
    font-family: serif;
}
#lo {
    font-family: 'Times New Roman', Times, serif;
}