#social {
    width: 65%;
    margin-bottom: 10%;
}
#soc {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
#loc {
    font-family: serif;
}
#lo {
    font-family: 'Times New Roman', Times, serif;
}
#foto {
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;
    background-size: initial;
    width: 100%;
    height: 100%;
    margin: 0 auto
}
#in {
    background-image: url(img/back.jpg);
}
#contact {
    background-image: url(img/back.jpg);
}
.form-group {
    color: rgb(190, 190, 190);
}